*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: #d5e1ef;
  display: flex;
  flex-direction: column;
  font-family: "Outfit", sans-serif;
  justify-content: center;
  min-height: 100vh;
}

main {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.05);
  padding: 16px 16px 40px 16px;
  width: 328px;
}

main .img {
  margin-bottom: 24px;
}

main .img img {
  border-radius: 10px;
  width: 288px;
  height: 288px;
}

main .txt h1 {
  color: #1f314f;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 16px;
  text-align: center;
}

main .txt p {
  color: #7d889e;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.188px;
  line-height: normal;
  text-align: center;
}

footer {
  margin-top: 16px;
}

footer .attribution {
  font-size: 11px;
  text-align: center;
}
footer .attribution a {
  color: hsl(228, 45%, 44%);
}
